ShopifyAgent/shopify-agent-workflow.json
{
  "name": "Shopify Agent (AI Agent + Groq)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger-agent-001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        300
      ],
      "webhookId": "a1b2c3d4-agent-shopify-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Shopping assistant for the-fashion-company-3.myshopify.com. Use tools to search products and manage cart. Show top 3 matches with name, price, URL. For cart add, include product_data with productId, variantId, title, price, handle. Keep responses short."
        }
      },
      "id": "ai-agent-001",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.5,
          "maxTokensToSample": 300
        }
      },
      "id": "groq-chat-model-001",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        520
      ],
      "credentials": {
        "groqApi": {
          "id": "1NQTebFGHH4Z5axM",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default' }}",
        "contextWindowLength": 3
      },
      "id": "memory-buffer-001",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        520
      ]
    },
    {
      "parameters": {
        "name": "Search Shopify Products",
        "description": "Fetches product catalog. Returns JSON array: title, price, handle, variantId, available, type, tags, url.",
        "jsCode": "// Fetch products from Shopify Admin API and return compact summary\nconst STORE = 'the-fashion-company-3.myshopify.com';\nconst API_VER = '2024-01';\nconst STORE_URL = `https://${STORE}`;\n\n// Get Shopify OAuth2 credentials from workflow static data\n// The actual HTTP call uses the n8n built-in HTTP helper with credential forwarding\nconst response = await this.helpers.httpRequestWithAuthentication.call(this, 'shopifyOAuth2Api', {\n  method: 'GET',\n  url: `https://${STORE}/admin/api/${API_VER}/products.json?limit=50`,\n  json: true\n});\n\nconst products = (response.products || []).map(p => {\n  const v = p.variants && p.variants[0] ? p.variants[0] : {};\n  return {\n    id: p.id,\n    title: p.title,\n    handle: p.handle,\n    type: p.product_type || '',\n    tags: p.tags || '',\n    price: v.price || 'N/A',\n    variantId: v.id || null,\n    available: v.inventory_quantity > 0,\n    url: `${STORE_URL}/products/${p.handle}`\n  };\n});\n\nreturn JSON.stringify(products);"
      },
      "id": "shopify-tool-001",
      "name": "Search Shopify Products",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        400,
        520
      ],
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "shopify-oauth2",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "name": "Cart Manager",
        "description": "Cart operations. JSON arg: {action:add/remove/view/checkout/clear, product_reference:name, quantity:1, product_data:{productId,variantId,title,price,handle}}",
        "jsCode": "// Cart Manager — persists cart in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.cart) staticData.cart = [];\n\nconst STORE_DOMAIN = 'https://the-fashion-company-3.myshopify.com';\n\n// Parse the input argument\nlet input;\ntry {\n  input = JSON.parse($input.first().json.query || '{}');\n} catch (e) {\n  // Try to parse from the raw input\n  try {\n    input = JSON.parse($input.first().json.toString());\n  } catch (e2) {\n    return [{ json: { error: 'Invalid input. Expected JSON with action field.' } }];\n  }\n}\n\nconst action = (input.action || '').toLowerCase();\nconst productRef = (input.product_reference || '').toLowerCase();\nconst quantity = input.quantity || 1;\nconst productData = input.product_data || null;\n\nlet cart = staticData.cart;\nlet result = {};\n\nswitch (action) {\n  case 'add': {\n    if (!productData || !productData.variantId) {\n      result = {\n        success: false,\n        message: 'Cannot add to cart: missing product_data with variantId. Search for the product first to get variant details.'\n      };\n      break;\n    }\n\n    // Check if variant already in cart\n    const existingIdx = cart.findIndex(item => \n      String(item.variantId) === String(productData.variantId)\n    );\n\n    if (existingIdx >= 0) {\n      cart[existingIdx].quantity += quantity;\n      result = {\n        success: true,\n        message: `Updated \"${cart[existingIdx].title}\" quantity to ${cart[existingIdx].quantity} in your cart.`,\n        cart: formatCart(cart)\n      };\n    } else {\n      cart.push({\n        productId: productData.productId || 'unknown',\n        variantId: String(productData.variantId),\n        title: productData.title || productRef,\n        price: productData.price || '0.00',\n        quantity: quantity,\n        handle: productData.handle || '',\n        url: productData.handle ? `${STORE_DOMAIN}/products/${productData.handle}` : ''\n      });\n      result = {\n        success: true,\n        message: `Added \"${productData.title || productRef}\" (x${quantity}) at $${productData.price || '?'} to your cart.`,\n        cart: formatCart(cart)\n      };\n    }\n    break;\n  }\n\n  case 'remove': {\n    if (cart.length === 0) {\n      result = { success: false, message: 'Your cart is already empty.' };\n      break;\n    }\n\n    const queryWords = productRef.split(/\\s+/).filter(w => w.length > 1);\n    let bestIdx = -1;\n    let bestScore = 0;\n\n    cart.forEach((item, idx) => {\n      const text = (item.title || '').toLowerCase();\n      const score = queryWords.filter(w => text.includes(w)).length;\n      if (score > bestScore) {\n        bestScore = score;\n        bestIdx = idx;\n      }\n    });\n\n    if (bestIdx >= 0) {\n      const removed = cart.splice(bestIdx, 1)[0];\n      result = {\n        success: true,\n        message: `Removed \"${removed.title}\" from your cart.`,\n        cart: formatCart(cart)\n      };\n    } else {\n      result = {\n        success: false,\n        message: `Could not find \"${input.product_reference || ''}\" in your cart.`,\n        cart: formatCart(cart)\n      };\n    }\n    break;\n  }\n\n  case 'view': {\n    if (cart.length === 0) {\n      result = {\n        success: true,\n        message: 'Your cart is empty. Browse our products and add items to get started!',\n        cart: { items: [], total: '$0.00', count: 0 }\n      };\n    } else {\n      result = {\n        success: true,\n        message: 'Here is your current cart:',\n        cart: formatCart(cart)\n      };\n    }\n    break;\n  }\n\n  case 'checkout': {\n    if (cart.length === 0) {\n      result = {\n        success: false,\n        message: 'Your cart is empty. Add some products before checking out!'\n      };\n    } else {\n      const cartParams = cart.map(item => `${item.variantId}:${item.quantity}`).join(',');\n      const checkoutUrl = `${STORE_DOMAIN}/cart/${cartParams}`;\n      result = {\n        success: true,\n        message: 'Your cart is ready for checkout!',\n        checkoutUrl: checkoutUrl,\n        cart: formatCart(cart)\n      };\n    }\n    break;\n  }\n\n  case 'clear': {\n    const hadItems = cart.length;\n    staticData.cart = [];\n    cart = [];\n    result = {\n      success: true,\n      message: hadItems > 0 ? 'Your cart has been cleared.' : 'Your cart was already empty.',\n      cart: { items: [], total: '$0.00', count: 0 }\n    };\n    break;\n  }\n\n  default:\n    result = {\n      success: false,\n      message: `Unknown action: \"${action}\". Supported actions: add, remove, view, checkout, clear.`\n    };\n}\n\n// Persist cart back\nstaticData.cart = cart;\n\nreturn [{ json: result }];\n\n// Helper: format cart for display\nfunction formatCart(cartItems) {\n  const items = cartItems.map((item, i) => ({\n    index: i + 1,\n    title: item.title,\n    price: `$${item.price}`,\n    quantity: item.quantity,\n    subtotal: `$${(parseFloat(item.price) * item.quantity).toFixed(2)}`,\n    url: item.url || ''\n  }));\n  const total = cartItems.reduce((sum, item) => sum + parseFloat(item.price) * item.quantity, 0).toFixed(2);\n  const count = cartItems.reduce((sum, item) => sum + item.quantity, 0);\n  return { items, total: `$${total}`, count };\n}"
      },
      "id": "cart-tool-001",
      "name": "Cart Manager",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        600,
        520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search Shopify Products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cart Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "agent-v1-2026-01-30",
  "meta": {
    "instanceId": "5efa7502bd5d2701c93516ce65d384e8412573a8abe13e8dfc68cc8dfcf5d784"
  },
  "id": "shopify-agent-workflow-001",
  "tags": []
}
