Shopify_chat_agent/workflow-webhook.json
{
  "name": "Shopify Storefront API Tester – Chat + LangChain + Groq",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify-chat",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [624, 1456],
      "webhookId": "shopify-chat",
      "id": "chat-webhook-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set – Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2512, 1424],
      "id": "051e8006-010c-40c5-8376-ad7a677e0a73"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.SHOPIFY_STORE_DOMAIN}}/api/2024-04/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Storefront-Access-Token",
              "value": "{{$env.SHOPIFY_STOREFRONT_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation CreateCheckout($cartId: ID!) { checkoutCreate(input: { lineItems: [{ variantId: $cartId, quantity: 1 }] }) { checkout { id webUrl subtotalPriceV2 { amount currencyCode } } } }', variables: { cartId: $node['Parse Groq Response'].json.params.cartId } }) }}",
        "options": {}
      },
      "name": "Shopify – Create Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1728, 1744],
      "id": "700d79d8-f562-4d4c-aa24-4280bf3145ee"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://the-fashion-company-3.myshopify.com/api/2024-04/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Storefront-Access-Token",
              "value": "bdcbffa7e49282474f618c9e8aa7d8b7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'query SearchProduct($q: String!) { products(first: 1, query: $q) { edges { node { id title variants(first: 1) { edges { node { id title price { amount currencyCode } availableForSale } } } } } } }', variables: { q: $json.params.productName || $json.params.searchTerm || '' } }) }}",
        "options": {}
      },
      "name": "Cart – Search Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1552, 1456],
      "id": "ebed0c12-a6d0-4fb8-a2f5-a175528701cd"
    },
    {
      "parameters": {
        "functionCode": "const products = $json.data?.products?.edges || [];\nconst quantity = $node['Parse Groq Response'].json.params.quantity || 1;\n\nif (products.length === 0) {\n  return [{ json: { error: true, message: 'Product not found. Try searching for: shirt, dress, shoes, watch, belt, jacket, pants' } }];\n}\n\nconst product = products[0].node;\nconst variant = product.variants?.edges?.[0]?.node;\n\nif (!variant) {\n  return [{ json: { error: true, message: 'No variant available for this product' } }];\n}\n\nreturn [{\n  json: {\n    productId: product.id,\n    productTitle: product.title,\n    variantId: variant.id,\n    variantTitle: variant.title,\n    price: variant.price,\n    availableForSale: variant.availableForSale,\n    quantity: quantity\n  }\n}];"
      },
      "name": "Cart – Extract Variant",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1728, 1456],
      "id": "a262a160-89cf-4100-a9c2-7c4215012475"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://the-fashion-company-3.myshopify.com/api/2024-04/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Storefront-Access-Token",
              "value": "bdcbffa7e49282474f618c9e8aa7d8b7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.error ? JSON.stringify({ query: '{ shop { name } }' }) : JSON.stringify({ query: 'mutation CreateCart($variantId: ID!, $quantity: Int!) { cartCreate(input: { lines: [{ merchandiseId: $variantId, quantity: $quantity }] }) { cart { id checkoutUrl lines(first: 10) { edges { node { id quantity merchandise { ... on ProductVariant { id title price { amount currencyCode } product { title } } } } } } cost { totalAmount { amount currencyCode } } } userErrors { field message } } }', variables: { variantId: $json.variantId, quantity: parseInt($json.quantity) || 1 } }) }}",
        "options": {}
      },
      "name": "Cart – Create and Add",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1888, 1456],
      "id": "a6d41bb9-e9c7-4111-98da-219bfc28356f"
    },
    {
      "parameters": {
        "functionCode": "// Check if there was an error from variant extraction\nif ($node['Cart – Extract Variant'].json.error) {\n  return [{ json: { success: false, message: $node['Cart – Extract Variant'].json.message } }];\n}\n\nconst cartData = $json.data?.cartCreate;\n\nif (cartData?.userErrors?.length > 0) {\n  return [{ json: { success: false, error: cartData.userErrors[0].message } }];\n}\n\nconst cart = cartData?.cart;\nif (!cart) {\n  return [{ json: { success: false, error: 'Failed to create cart' } }];\n}\n\nconst items = cart.lines.edges.map(edge => ({\n  title: edge.node.merchandise.product.title,\n  variant: edge.node.merchandise.title,\n  quantity: edge.node.quantity,\n  price: edge.node.merchandise.price\n}));\n\nreturn [{\n  json: {\n    success: true,\n    cartId: cart.id,\n    checkoutUrl: cart.checkoutUrl,\n    totalAmount: cart.cost.totalAmount,\n    items: items,\n    message: `Added ${items[0]?.title} (${items[0]?.quantity}x) to cart. Total: ${cart.cost.totalAmount.amount} ${cart.cost.totalAmount.currencyCode}. Checkout: ${cart.checkoutUrl}`\n  }\n}];"
      },
      "name": "Cart – Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2080, 1456],
      "id": "782695b7-a485-4e57-91fa-d11aceba7378"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://the-fashion-company-3.myshopify.com/api/2024-04/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Storefront-Access-Token",
              "value": "bdcbffa7e49282474f618c9e8aa7d8b7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'query SearchProducts($q: String!) { products(first: 10, query: $q) { edges { node { id title description productType images(first: 1) { edges { node { url } } } variants(first: 1) { edges { node { id title price { amount currencyCode } } } } } } } }', variables: { q: $json.params.searchTerm || '' } }) }}",
        "options": {}
      },
      "name": "Shopify – Search Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1808, 1200],
      "id": "323b7442-dc89-4f9f-85ef-f4c04d1bf4cc"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "search"
            },
            {
              "value2": "cart"
            },
            {
              "value2": "checkout"
            }
          ]
        },
        "fallbackOutput": 0
      },
      "name": "Switch – Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1280, 1424],
      "id": "dffca881-1cae-4085-9457-68015a505dfe"
    },
    {
      "parameters": {
        "functionCode": "const content = $json.choices[0].message.content;\nconst result = JSON.parse(content);\n\n// Extract product term - use product_name or search_query\nconst productTerm = result.product_name || result.search_query || '';\n\n// Smart search: strip color words to improve matching\nconst colorWords = ['white', 'black', 'blue', 'red', 'green', 'yellow', 'brown', 'gray', 'grey', 'pink', 'purple', 'orange'];\nconst words = productTerm.toLowerCase().split(' ');\nconst cleanedTerm = words.filter(w => !colorWords.includes(w) && w.length > 1).join(' ') || productTerm;\n\nreturn [{ \n  json: {\n    intent: result.intent || 'search',\n    params: {\n      searchTerm: cleanedTerm,\n      productName: cleanedTerm,\n      productType: result.product_type || null,\n      quantity: parseInt(result.quantity) || 1\n    }\n  }\n}];"
      },
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1104, 1456],
      "id": "8a61a9e8-ba09-4353-a1e6-dad7f3df5c17"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: 'You are a shopping assistant query parser. Extract the user intent and return a JSON object. For product searches: { \"intent\": \"search\", \"search_query\": \"main product term\", \"product_type\": \"category or null\" }. For adding to cart: { \"intent\": \"cart\", \"product_name\": \"the product to add\", \"quantity\": 1 }. For checkout: { \"intent\": \"checkout\" }. Only return the JSON, nothing else.' }, { role: 'user', content: ($json.body?.message || $json.message || 'show me products') }], temperature: 0.3, max_tokens: 150 }) }}",
        "options": {}
      },
      "name": "Groq – Parse Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 1456],
      "id": "b4c3d0b7-5990-410c-b1c9-abd597961320",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MHbRIYYUNofvF8mP",
          "name": "Grok Header Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Shopify – Create Checkout": {
      "main": [
        [
          {
            "node": "Set – Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart – Search Product": {
      "main": [
        [
          {
            "node": "Cart – Extract Variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart – Extract Variant": {
      "main": [
        [
          {
            "node": "Cart – Create and Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart – Create and Add": {
      "main": [
        [
          {
            "node": "Cart – Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart – Format Response": {
      "main": [
        [
          {
            "node": "Set – Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify – Search Products": {
      "main": [
        [
          {
            "node": "Set – Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch – Intent": {
      "main": [
        [
          {
            "node": "Shopify – Search Products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cart – Search Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shopify – Create Checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Groq Response": {
      "main": [
        [
          {
            "node": "Switch – Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq – Parse Intent": {
      "main": [
        [
          {
            "node": "Parse Groq Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Groq – Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "5efa7502bd5d2701c93516ce65d384e8412573a8abe13e8dfc68cc8dfcf5d784"
  }
}
